.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
.prettierrc.json
esbuild.js
tsconfig.json
**/*.map
**/*.ts
!dist/**
node_modules/**
!node_modules/onnxruntime-node/**
!node_modules/@onnxruntime/**
!node_modules/@lancedb/**
!node_modules/vectordb/**
!node_modules/tree-sitter/**
!node_modules/tree-sitter-typescript/**
!node_modules/tree-sitter-javascript/**
docs/**
CLAUDE.md
images/icon.svg
